@import 'font/stylesheet.css';

/* GLOBAL */

:root {
  --black: #000000;
  --white: #ffffff;

  --primary: #171c8f;

  --tertiary-1: #5e626b;
  --tertiary-3: #1a1f29;

  --disabled-1: #cccccc;
  --disabled-2: #929499;

  --purple: #ba9be5;
  --pink: #e9a0a7;
  --beige: #f8cab1;
  --brown: #c88252;

  --color-ae: #aeaeb0;
  --color-bd: #bdbdbd;
  --color-f2: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Avenir Next Rounded Std', Arial, sans-serif;
  font-weight: 400;
  color: var(--tertiary-3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* COMMON */

a {
  text-decoration: none;
  outline: none;
  border-radius: 5px;
}

a:focus-visible,
a:hover {
  outline: 2px solid var(--primary);
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--disabled-1);
}

.header__wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 56px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.header__logo {
  display: flex;
  order: 5;
}

.header__logo:focus-visible,
.header__logo:hover {
  outline-offset: 8px;
}

.header__site-navigation {
  display: contents;
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: contents;
}

.site-navigation__item:nth-child(n + 5) {
  order: 6;
}

.site-navigation__item:nth-child(4) {
  margin-right: auto;
}

.site-navigation__item:nth-child(5) {
  margin-left: auto;
}

.site-navigation__item a {
  display: flex;
  align-items: center;
  max-width: 150px;
  min-height: 87px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
  letter-spacing: 0.01em;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  word-break: break-all;
}

.site-navigation__item a:focus-visible,
.site-navigation__item a:hover {
  outline-offset: -2px;
}

/* MAIN */

.main__wrapper {
  max-width: 1440px;
  padding: 0 56px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 64px;
}

.main__breadcrumbs-navigation {
  margin-bottom: 32px;
}

.main__product-description,
.main__order-details {
  margin-bottom: 100px;
}

/* BREADCRUMBS */

.breadcrumbs-navigation {
  width: 100%;
  padding: 16px 0;
}

.breadcrumbs-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.breadcrumbs-navigation__item {
  height: 24px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.breadcrumbs-navigation__item a {
  max-width: 300px;
  padding: 4px;
  font-size: 12px;
  line-height: 15px;
  font-weight: inherit;
  color: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.breadcrumbs-navigation__item a[aria-current='page'] {
  color: var(--disabled-2);
  outline: none;
}

.breadcrumbs-navigation__item:not(:last-child)::after {
  content: '/';
  position: absolute;
  right: -10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: var(--disabled-2);
}

/* FOOTER */

.footer {
  border-top: 1px solid var(--disabled-1);
}

.footer__wrapper {
  max-width: 1440px;
  min-height: 428px;
  margin: auto;
  padding: 80px 88px 33px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 156px;
}

.footer__section-wrapper {
  max-width: 224px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__heading {
  font-weight: 400;
  margin: 0 0 8px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__store-info {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1px;
  color: var(--tertiary-1);
  text-transform: capitalize;
}

.footer__social-links {
  margin: 0;
}

.footer__copyright {
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;
  color: var(--tertiary-1);
}

.footer__navigation-list {
  margin: 0;
}

.footer-navigation-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer-navigation-list__item a {
  font-weight: inherit;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1px;
  color: var(--tertiary-1);
  text-transform: capitalize;
}

.footer-navigation-list__item a {
  font-weight: inherit;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1px;
  color: var(--tertiary-1);
  text-transform: capitalize;
}

.footer-navigation-list__item a:focus-visible,
.footer-navigation-list__item a:hover {
  outline-offset: 4px;
}

/* SOCIAL LINKS */

.social-links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.social-links__item a {
  display: flex;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-links__item a:focus-visible,
.social-links__item a:hover {
  outline-offset: 4px;
}

.social-links__item--facebook a {
  background-image: url('img/icons/facebook.svg');
}

.social-links__item--instagram a {
  background-image: url('img/icons/instagram.svg');
}

/* YOU MAY ALSO LIKE */

.you-may-also-like {
  width: 100%;
  padding: 0 72px 108px;
}

.you-may-also-like__heading {
  font-weight: inherit;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--primary);
  margin: 0 0 64px;
}

.you-may-also-like__heading::first-letter {
  text-transform: uppercase;
}

.you-may-also-like__product-carousel {
  margin: 0;
}

/* PRODUCT CAROUSEL */

.product-carousel {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

/* PRODUCT CARD  */

.product-card {
  max-width: 248px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}

.product-card:focus-within {
  outline: 2px solid var(--primary);
  outline-offset: 8px;
}

.product-card * {
  order: 2;
}

.product-card__image {
  order: 0;
  margin-bottom: 20px;
}

.product-card__heading {
  order: 1;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--tertiary-3);
  margin: 0 0 8px;
}

.product-card__heading a {
  display: inline-block;
  color: inherit;
  outline-offset: 4px;
}

.product-card__heading a:focus-visible {
  outline: none;
}

.product-card__heading a::first-letter {
  text-transform: uppercase;
}

.product-card__available-colors-list {
  margin: 0 0 8px;
}

.available-colors-list {
  padding: 0 2px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.available-colors-list__item {
  width: 12px;
  height: 12px;
}

.available-colors-list__item--brown {
  background-color: var(--brown);
}

.available-colors-list__item--beige {
  background-color: var(--beige);
}

.available-colors-list__item--pink {
  background-color: var(--pink);
}

.available-colors-list__item--purple {
  background-color: var(--purple);
}

.product-card__price {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--tertiary-3);
  text-transform: uppercase;
}

.product-card__tags-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 360px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  position: absolute;
  top: 8px;
  left: 12px;
}

.tags-list__item {
  max-width: 224px;
  max-height: 22px;
  padding: 3px 5px 4px;
  background-color: var(--white);
  font-size: 13px;
  line-height: 16px;
  color: var(--tertiary-1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tags-list__item::first-letter {
  text-transform: uppercase;
}

/* DESCRIPTION */

.product-description {
  padding-left: 48px;
  max-width: 776px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-description__image {
  display: flex;
  margin-bottom: 61px;
  align-self: center;
}

.product-description__info-checkbox-wrapper {
  width: 100%;
  border-top: 1px solid var(--disabled-1);
}

.product-description__info-checkbox-wrapper:last-child {
  border-bottom: 1px solid var(--disabled-1);
}

.product-description__info-checkbox-wrapper label {
  display: block;
  padding: 32px 32px 32px 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--tertiary-3);
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
}

.product-description__info-checkbox-wrapper label::after {
  display: block;
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('img/icons/icon-minus.svg');
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1px;
}

.product-description__info-checkbox:checked ~ label {
  margin-bottom: 8px;
}

.product-description__info-checkbox:checked ~ label::after {
  background-image: url('img/icons/icon-plus.svg');
}

.product-description__info-checkbox:checked ~ p {
  all: unset;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--tertiary-3);
  margin-bottom: 40px;
  padding-right: 32px;
}

.product-description__info-checkbox:checked ~ p::first-letter {
  text-transform: uppercase;
}

.product-description__info-checkbox:focus-visible ~ label::after,
.product-description__info-checkbox:hover ~ label::after {
  outline: 2px solid var(--primary);
  outline-offset: 16px;
}

/* FORM */

.order-details {
  max-width: 488px;
  flex-grow: 1;
  padding-right: 80px;
}

input[type='number'] {
  width: fit-content;
  width: 40px;
  height: 40px;
  padding: 10px 13px;
  transition: width 500ms ease-out;
  position: relative;

  appearance: textfield;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: inherit;
}

input[type='number']:focus-visible,
input[type='number']:hover {
  width: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}
